.Header{
    padding: 0em 1em;
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header__Buttons{
    display: flex;
    margin: 0.5em;
}

.Header__Button{
    padding: 0.5em;
    margin: 0 0.5em;
    border: 1px solid black;
    background-color: white;
    border-radius: 0.25em;
    text-decoration: none;
    color: black;
}